extends layout/main-layout

block content

	body(id='page-top' data-spy='scroll' data-target='.navbar-fixed-top')

		.header-wrapper#landing-header-wrapper

			nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll(role='navigation')

				.container

					.navbar-header.page-scroll
						button#menu-toggle.navbar-toggle(type="button")
							span.sr-only Toggle navigation
							span.icon-bar.bar1
							span.icon-bar.bar2
							span.icon-bar.bar3
						a(href='/')
							.logo-container
								.logo#landing-logo
									img(src='images/redwizard.png' alt='RED Wizard Logo')
								span.navbar-title.hidden.text-center
									.brand
										b RED&nbsp;Wizard 
										span EVENTS&nbsp;PLATFORM

					.collapse.navbar-collapse.text-center
						ul.nav.navbar-nav.navbar-right
							li.hidden
								a.page-scroll(href='#page-top')
							li.add-nav
								a.page-scroll(href='#about') ABOUT
							li.add-nav
								a.page-scroll(href='#events') EVENTS
							li.add-nav
								a.page-scroll(href='#contact-us') CONTACT US
							li
								a.btn#landing-regi-btn(href='/login') SIGN UP / LOG IN

			//- nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll(role='navigation')

			section.banner-section.black-filter#banner

				.container
					.row
						.banner-title
							div
								span#letter R 
								span#letter E 
								span#letter D &nbsp;&nbsp;&nbsp;&nbsp;
								span W I Z A R D
							#landing-title-sub EVENTS PLATFORM
					.row
						#col-lg-12
							a.page-scroll(href='#about')
								button.btn.btn-fill.btn-square.banner-btn(type='button') LEARN MORE
							a.page-scroll(href='#events')
								button.btn.btn-simple.btn-square.banner-btn#banner-reg-btn(type='button') REGISTER TO EVENT

			//- section.banner-section.black-filter#banner

		//- .header-wrapper#landing-header-wrapper

		.wrapper

			.main

				.section.section-white

					.sidebar
						.sidebar-wrapper

							.logo
								a.simple-text(href='/')
									img(src='images/rwlogo.png' alt='RED Wizard Logo')

							ul.nav.navbar.page-scroll
								li.hidden
									a.page-scroll(href='#page-top')
								li
									a.page-scroll(href='#about')
										i.ti-info
										p About
								li
									a.page-scroll(href='#events')
										i.ti-view-list-alt
										p Events
								li
									a.page-scroll(href='#contact-us')
										i.ti-comment-alt
										p Contact us

					//- .sidebar

					.main
						.container-fluid

							.row#about
								.col-md-12.landing-card-holder
									.card.landing-card#about-card

										h3.text-center ABOUT SECTION

							//- About Section - end

							.row#events
								.col-md-12.landing-card-holder
									.card.landing-card#events-card

										h3.text-center LIST OF EVENTS
										br
										
										.container.text-center
											.col-lg-3.col-md-4.col-sm-5(style='border: dashed 4px gray; margin: 10px; height: 350px;')
											.col-lg-3.col-md-4.col-sm-5(style='border: dashed 4px gray; margin: 10px; height: 350px;')
											.col-lg-3.col-md-4.col-sm-5(style='border: dashed 4px gray; margin: 10px; height: 350px;')
											.col-lg-2.col-md-4.col-sm-5(style='border: dashed 4px gray; margin: 10px; height: 350px; padding: 0;')
												h4(style='position: relative; top: 30%;') MORE EVENTS
												br
												a(href="#")
													span.btn.btn-simple.ti-arrow-circle-right

							//- Events Section - end

							.row#contact-us
								.col-md-12.landing-card-holder
									.card.landing-card#contact-card

										h3.text-center.section-title CONTACT US

										.container
											.row
												.col-md-8.col-md-offset-2

													//- Contact Form

													form.contact-form
														.row
															.col-md-6
																label Name
																input.form-control(placeholder='Name' name='contact-name')
															.col-md-6
																label Email
																input.form-control(placeholder='Email' name='contact-email')
														label Message
														textarea.form-control(rows='4' placeholder='Tell us your thoughts and feelings...' name='contact-msg')
														.row
															.col-md-4.col-md-offset-4.text-center
																button.btn.btn-md.btn-fill.btn-square.sendmsg-btn(type='button') Send Message

													//- Contact Form - end

							//- Contact Us - end

					//- .main

			//- .main content end

			footer.footer.footer-black

				.copyright.text-center
					a.page-scroll(href='#page-top' id='arrow-top' data-toggle='tooltip' data-placement='bottom')
						button.btn.btn-simple.btn-default.btn-lg(type='button')
							i.ti-arrow-circle-up

				.container

					nav.pull-left
						ul
							li
								a(href="#") RED Wizard Events Management
							li
								a.page-scroll(href="#about") ABOUT
							li
								a.page-scroll(href="#events") EVENTS
							li
								a.page-scroll(href="#contact-us") CONTACT US
							li
								a(href='#')
									span.ti-facebook
							li
								a(href='#')
									span.ti-twitter-alt
							li
								a(href='#')
									span.ti-instagram

					.copyright.pull-right &copy; All Rights Reserved 2017

			//- footer
        
		//- wrapper end

	//- body - end

block body-scripts
	script(src='javascripts/paper-dashboard.js')
	script(src='javascripts/jquery.easing.min.js')
	script(src='javascripts/main.js')